{% extends "encyclopedia/layout.html" %}

{% block style %}
<style>
    .title_entry_text {
        height: 25px;
        width: 150px;
        font-size: 18px;
        font-weight: Bold;
        align-content: center;
        float: left;
    }
    .title_entry {
        height: 30px;
        width: 50vh;
        font-size: 14px;
        padding-left: 10px;
        align-content: center;
    }

    .labels {
        justify-content: left;
        padding-top: 20px;
    }

    textarea {
        height: 70vh;
        width: 90%;
    }

    #save_entry {
        width: 200px;
    }

</style>
{% endblock %}

{% block title %}
    Encyclopedia - Edit Page
{% endblock %}

{% block body %}
    <h1>Edit "{{ title }}" Page Content </h1>
    <form action="{% url 'encyclopedia:edit_page' %}" method="post">
        {% csrf_token %}
        <div class="labels">
            <p><label for="encyclopedia_entry">Edit Page's Markdown Content Here:</label></p>
            <textarea id="encyclopedia_entry" class="textarea" name="updated_entry">{{ content }}</textarea>
            <input type="hidden" name="updated_title" value="{{ title }}">
            <input id="save_entry" type="submit" value="Save Entry">
        </div>
    </form>


{% endblock %}