{% extends "encyclopedia/layout.html" %}

{% block style %}
<style>
    .link {
        font-size: 18px;
        border: none;
        color: DodgerBlue;
        background-color: transparent;
    }
</style>
{% endblock %}

{% block title %}
    Encyclopedia - {{ title }}
{% endblock %}

{% block body %}
    <div>
        {{ content|safe }}
    </div>
    <div>
        {% if title != "Error" %}
            <form action="{% url 'encyclopedia:edit_page' %}">
                <input type="hidden" name="title" value="{{ title }}">
                <input class="link" type="submit" value="Edit Content">
            </form>
        {% endif %}
    </div>

{% endblock %}