{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="all_posts-view">
        <h2>All Posts</h2>
        <div id="new_post">
            <h5>New Post</h5>
            <form id="new_post-form">
                <textarea class="form-control" id="new_content" placeholder="Post Here"></textarea>
                <input type="submit" value="Post" class="btn btn-primary" id="post-button"/>
            </form>
        </div>
        <div id="all_posts"></div>
    </div>

    <div id="profile-view">
        <h2 id="profile-header"></h2>
        <div id="profile-info">
            <p id="followers"></p>
            <p id="following"></p>
            <div id="follow-div"></div>
        </div>
        <div id="user_posts"></div>
    </div>
    <div id="following-view">
        <h2>Following Users' Posts</h2>
        <div id="following-posts"></div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/posts.js' %}"></script>
{% endblock %}